<main class="main">
    <div class="main-container">
        <div class="main__title">
            Последние рецепты
        </div>
        <div class="main__items">
            <div class="main__item">
                <div class="main__img">
                    <img src="@img/recept1.png" alt="картинка блюда">
                </div>
                <div class="main__text">Просто оливьешка как в детстве</div>
                <div class="main__subtext">
                    <div class="main__ingridiends">7 ингредиентов</div>
                    <div class="main__clock">
                        <object type="image/svg+xml" data="@img/svg/clock.svg">
                        </object>
                        1 час
                    </div>
                    <div class="main__bookmark">
                        <object type="image/svg+xml" data="@img/svg/bookmark.svg">
                        </object>
                        378
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__img">
                    <img src="@img/recept2.png" alt="картинка блюда">
                </div>
                <div class="main__text">Просто оливьешка как в детстве</div>
                <div class="main__subtext">
                    <div class="main__ingridiends">7 ингредиентов</div>
                    <div class="main__clock">
                        <object type="image/svg+xml" data="@img/svg/clock.svg">
                        </object>
                        1 час
                    </div>
                    <div class="main__bookmark">
                        <object type="image/svg+xml" data="@img/svg/bookmark.svg">
                        </object>
                        378
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__img main__img_new">
                    <img src="@img/recept3.png" alt="картинка блюда">
                </div>
                <div class="main__text">Просто оливьешка как в детстве</div>
                <div class="main__subtext">
                    <div class="main__ingridiends">7 ингредиентов</div>
                    <div class="main__clock">
                        <object type="image/svg+xml" data="@img/svg/clock.svg">
                        </object>
                        1 час
                    </div>
                    <div class="main__bookmark">
                        <object type="image/svg+xml" data="@img/svg/bookmark.svg">
                        </object>
                        378
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__img">
                    <img src="@img/recept4.png" alt="картинка блюда">
                </div>
                <div class="main__text">Просто оливьешка как в детстве</div>
                <div class="main__subtext">
                    <div class="main__ingridiends">7 ингредиентов</div>
                    <div class="main__clock">
                        <object type="image/svg+xml" data="@img/svg/clock.svg">
                        </object>
                        1 час
                    </div>
                    <div class="main__bookmark">
                        <object type="image/svg+xml" data="@img/svg/bookmark.svg">
                        </object>
                        378
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>